@{
    ViewData["Title"] = "Rețete";
}

<div class="container mt-5">

    <h1 class="text-center text-success fw-bold mb-5">
        Rețete și Tratamente
    </h1>

    <div class="card shadow-lg border-0 mb-4">

        <div class="card-body">

            <h3>
                Pacient: Ion Popescu
            </h3>

            <p>
                Tratament pentru hipertensiune arterială.
            </p>

            <ul>
                <li>Prestarium</li>
                <li>Aspenter</li>
                <li>Control peste 30 zile</li>
            </ul>

        </div>

    </div>

    <div class="card shadow-lg border-0">

        <div class="card-body">

            <h3>
                Pacient: Maria Ionescu
            </h3>

            <p>
                Tratament alergie sezonieră.
            </p>

            <ul>
                <li>Aerius</li>
                <li>Vitamina C</li>
                <li>Control peste 14 zile</li>
            </ul>

        </div>

    </div>

</div>