@model AgroPhytoApp.Models.Medic

@{
    ViewData["Title"] = "Edit Medic";
}

<div class="container mt-5">

    <div class="card shadow-lg border-0">

        <div class="card-header bg-warning">

            <h3>
                Editare Medic
            </h3>

        </div>

        <div class="card-body">

            <form method="post">

                <input asp-for="Id" type="hidden" />

                <div class="mb-3">

                    <label>Nume</label>

                    <input asp-for="Nume"
                           class="form-control" />

                </div>

                <div class="mb-3">

                    <label>Specializare</label>

                    <input asp-for="Specializare"
                           class="form-control" />

                </div>

                <div class="mb-3">

                    <label>Descriere</label>

                    <textarea asp-for="Descriere"
                              class="form-control">
                    </textarea>

                </div>

                <div class="mb-3">

                    <label>Imagine URL</label>

                    <input asp-for="ImagineUrl"
                           class="form-control" />

                </div>

                <div class="mb-3">

                    <label>Experiență</label>

                    <input asp-for="Experienta"
                           class="form-control" />

                </div>

                <button type="submit"
                        class="btn btn-warning w-100">

                    Salvează Modificările

                </button>

            </form>

        </div>

    </div>

</div>